/*--------------------------------------------FONT --------------------------------------------*/

@font-face {
  font-family: 'sansserifflfdemibold';
  src: url('sansserifflf-demibold-webfont.woff2') format('woff2'), url('sansserifflf-demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sansserifflfmedium_italic';
  src: url('sansserifflf-demiitalic-webfont.woff2') format('woff2'), url('sansserifflf-demiitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sansserifflfitalic';
  src: url('sansserifflf-italic-webfont.woff2') format('woff2'), url('sansserifflf-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sansserifflfmedium';
  src: url('fonts/sansserifflf-webfont.woff2') format('woff2'), url('fonts/sansserifflf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'open sans', sans-sans-serif;
  font-weight: bold;
  font-size: 48px;
}
h3 {
  font-family: 'open sans', sans-sans-serif;
  font-weight: bold;
  font-size: 24px;
}
p {
  font-family: 'sansserifflfmedium';
  font-size: 20px;
}

/*--------------------------------------------Header--------------------------------------------*/
html, body { height:100%;
    margin: 0;
    padding: 0;
    border: none;
}
header {top: 0;background:black; display: table-row; height: 1px; width:100%;
}

.toplogo {margin:0;box-sizing: border-box; padding: 15px; background: black;}
.toplogo a img {width: 100%}

/*--------------------------------------------NAVIGATION--------------------------------------------*/

.navbar { float: right;
  overflow: hidden;
  background-color: white;
  list-style: none;

}

.navbar li {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.navbar a {
  box-sizing: border-box;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
}

#donate {
  color: white;
  background-color: black;
  display: inline-block;
}

.navbar a:hover {
  background: linear-gradient(#006DB6, #E71A4A);
  color: white;
}

#active {
  background: linear-gradient(#006DB6, #E71A4A);
  color: white;
  display: inline-block;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-color: white;
}
.fa-bars { display: none;}

/*--------------------------------------------BODY--------------------------------------------*/
body {display: table; width: 100%; height: 100%;}

.container { display: table-row; height:auto; width: 100%;
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
}
.content {;margin:0px;  padding: 5% 15%;}

.content h2, h3, p {padding: 2%;}

.content p a {text-decoration: none; color:black;}

/*--------------------------------------------FOOTER--------------------------------------------*/

footer {display: table-row; height:1px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;

}

.footer { box-sizing: border-box;display: inline-block;padding:1%;
  float: left;
  width: 33.33%;
}

.footer p {
  text-align: center;
  font-size: 12px;
}

.footer p a {
  text-decoration: none;
  color: white;
}

footer img {
  width: 200px;
  height: auto;
}

/*--------------------------------------------RESPONSIVE--------------------------------------------*/

.container:after {
  display: table;
  clear: both;
}


@media (max-width: 700px) {
.fa-bars {float: right;display: inline-block; padding: 10px;}

  nav:hover ul {display: inline-block;}
  #active {border-style: hidden;background: white; color: black;}
  #donate {background: white; color: black;}

.navbar {padding: 2px 0px;}

  nav ul, nav:active ul {

  		display: none;

  		background: white;
   padding: 10px;


  	}

  	nav li {

  		text-align: right;
  		width: 100%;
  		padding: 5px 0;
  		margin: 0;

  	}

  	nav:hover ul {

  		display: block;

  	}
  .container {
    width: 100%;
    overflow-y: scroll;
  }

  .footer {
    float: none;
    width: 100%;
    text-align: center;
  }

}
